*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20%;
}
.second{
    width: 100%;
    height: 70vh;
}
h2{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    font-size: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin:3%;
}
.facebook{
    width: 100%;
    margin: auto;
    
}
.img{   
    margin-top: 2%;
    width: 100px;
    padding-left: 39%;
    border-right: 2px solid black;

}
.img1{
    width: 100px;
    border-right: 2px solid black;
}
.img2{
    width:100px;
    border-right: 2px solid black;
}

